In [28]:
# My First Project of ML 
#Importing Modules

import pandas as pd
import sklearn.model_selection
import sklearn.compose
import sklearn.preprocessing
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.decomposition import PCA
import imblearn.over_sampling
import sklearn.svm
import sklearn.metrics
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [5]:
#load the data and read it
data2 =pd.read_csv ("DSA/hr_analytics.csv")

In [6]:
data2.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [7]:
# Inspect the Data:
data2

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,support,low
14995,0.37,0.48,2,160,3,0,1,0,support,low
14996,0.37,0.53,2,143,3,0,1,0,support,low
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low

In [8]:
# Checking Columns
data2.columns

Index(['satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company', 'Work_accident', 'left',
       'promotion_last_5years', 'sales', 'salary'],
      dtype='object')

In [9]:
# Display basic information about the dataset to understand its structure
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfaction_level     14999 non-null  float64
 1   last_evaluation        14999 non-null  float64
 2   number_project         14999 non-null  int64
 3   average_montly_hours   14999 non-null  int64
 4   time_spend_company     14999 non-null  int64
 5   Work_accident          14999 non-null  int64
 6   left                   14999 non-null  int64
 7   promotion_last_5years  14999 non-null  int64
 8   sales                  14999 non-null  object
 9   salary                 14999 non-null  object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

## Data Preprocessing
# Preprocess the Data:

In [14]:
#removing Missing values, No missing value find
print(data.isnull().sum())

satisfaction_level       0
last_evaluation          0
number_project           0
average_montly_hours     0
time_spend_company       0
Work_accident            0
left                     0
promotion_last_5years    0
sales                    0
salary                   0
dtype: int64

# Separate Features and Target Variable:

In [10]:
X = data2.drop('left', axis=1)  # Features
y = data2['left']  # Target variable

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

X_train shape: (11999, 9)
X_test shape: (3000, 9)
y_train shape: (11999,)
y_test shape: (3000,)

# Feature Engineeering

In [12]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.metrics import accuracy_score

In [15]:
# Identify numeric and categorical columns
numeric_features = ['satisfaction_level', 'last_evaluation', 'number_project', 'average_montly_hours', 'time_spend_company']
categorical_features = ['Work_accident', 'promotion_last_5years', 'sales', 'salary']

In [20]:
# One-Hot Encoding and Standadization

numerical_attributes = X_train.select_dtypes(include=["int64", "float64"]).columns
categorical_attributes = X_train.select_dtypes(include="object").columns

ct = sklearn.compose.ColumnTransformer([
    ("standard_scaler", sklearn.preprocessing.StandardScaler(), numerical_attributes),
    ("one_hot_encoder", sklearn.preprocessing.OneHotEncoder(handle_unknown="ignore"), categorical_attributes)
])
ct = ct.fit(X_train)

X_train = ct.transform(X_train)
X_test = ct.transform(X_test)

print("X_train:", X_train.shape)
print("X_test:", X_test.shape)

X_train: (11999, 20)
X_test: (3000, 20)

# Dimensionality Reduction

In [26]:
n_components = min(X_train.shape[0], X_train.shape[1]) - 1
pca = sklearn.decomposition.PCA(n_components=n_components)
pca.fit(X_train)

X_train = pca.transform(X_train)
X_test = pca.transform(X_test)

print("X_train:", X_train.shape)
print("X_test:", X_test.shape)

X_train: (11999, 19)
X_test: (3000, 19)

# Oversampling

In [29]:
sm = imblearn.over_sampling.SMOTE()
X_train, y_train = sm.fit_resample(X_train, y_train)
y_train.value_counts()

left
1    9125
0    9125
Name: count, dtype: int64

# Training a Model;

In [32]:
model = sklearn.svm.SVC()
model.fit(X_train, y_train);

# Test the Trained Model

In [33]:
y_predicted = model.predict(X_test)
accuracy = sklearn.metrics.accuracy_score(y_test, y_predicted)
accuracy

0.9563333333333334